<!Doctype html>
<html>
    <head>
        <title>Jovian carees site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device- 
    width, initial-scale=1"> 

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        
        #banner{
            height: 360px;
            width: 100%;
            object-fit: cover;
            
        }
        
    </style>    

      
        
    </head>
    <body>
        <div class="container">
        <h1 class="text-center mt-3 mb-4"> Jovian careers</h1>
        <img class ="img-fluid" id="banner" src= "static/clark-tibbs-oqStl2L5oxI-unsplash.jpg">
        
        <h1 class="text-center mt-3" >About Us</h1>
        <p class="lead">Lorem ipsum dolor sit amet. Rem totam porro hic quae necessitatibus ut voluptatum tempore. Et eligendi expedita et fuga dignissimos sit laudantium placeat est explicabo ipsa et cumque corrupti. Eos corrupti quia eos molestiae sunt et tempora delectus et officiis voluptatem ut rerum quam et reiciendis quaerat eum dicta consequatur. Et voluptatem illo est magnam sint At necessitatibus voluptate!

Sit eius ipsum aut mollitia corrupti est vero nemo 33 veritatis expedita. Et iusto maiores et velit maxime a cumque amet et molestiae quaerat qui animi neque et quae quia. Et omnis distinctio ex omnis deleniti vel .</p>
    <h2 class="text-center">Job Positions</h2>
    <p>To do add job posts</p> 
    <div class="text-center">
        <button class="btn btn-primary btn-lg" >Contact Us</button>
        <p class = "mt-2">Copyright 2022 Jovian</p>
    </div>       

        </div>
    </body>
</html>